<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|striptags} | {/ifset}{$brand['name']}</title>

	<link rel="stylesheet" href="//bootswatch.com/united/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{$basePath}/js/bootstrap-multiselect/bootstrap-multiselect.css">


	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">






	{block head}{/block}
</head>


<body>
	<div id="wrap">
		<header>
			<div class="container header-container">
				<a href="{link BulletinRecordList:}" class="website-name">{$brand['name']}</a><br />
				<small class="website-claim">{$brand['claim']}</small>
			</div>
		</header>

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li>
							<a href="{link BulletinRecordList:}">Praha</a>
						</li>
						<li>
							<a href="{link BulletinRecordList:}">Odkaz</a>
						</li>
					</ul>
					<ul class="nav navbar-nav pull-right">
						<li>
							<a href="{link StaticPages:contact}">Kontakt</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>


		<div class="container">

			<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

			{include content}
		</div>

		<div id="push"></div>
	</div>

	<footer class="footer">
		<div class="container">
			<a href="{link StaticPages:contact}">Contact</a>
			<span class="text-muted">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
			<a href="{link BulletinRecordList:}">Odkaz</a>

			<div>
				<small class="text-muted">This site is not affiliated with Bondora. Peerlan does not provide investment advice. Investment decisions are made by users at their own risk.</small>
			</div>
		</div>
	</footer>

	{block scripts}
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script src="//nette.github.io/resources/js/netteForms.min.js"></script>
		<script src="{$basePath}/js/bootstrap-multiselect/bootstrap-multiselect.js"></script>
		<script src="{$basePath}/js/main.js"></script>
	{/block}
</body>
</html>
