
parameters:
    google:
        accountFile: %wwwDir%/../resources/google/Uredky-9d21df6d6bc7.json
        folderId: 0B3HFawTFS6HFfmdjX2duclprdVRMZmlsVy1HWlByaGx1UzNnYlpxWmJaOEpJcjBrZEh1dm8
        folderUrl: https://googledrive.com/host/0B3HFawTFS6HFfmdjX2duclprdVRMZmlsVy1HWlByaGx1UzNnYlpxWmJaOEpJcjBrZEh1dm8

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


nette:
    debugger:
        maxLen: 0
        maxDepth: 4


documentManager:
    uri: mongodb://localhost/uredky
    defaultDb: uredky
    documentsDir: %appDir%/../libs/Bitcont/EGov
    hydrator:
        autogenerate: true
        dir: %tempDir%/cache
        namespace: DoctrineProxies
    proxy:
        autogenerate: true
        dir: %tempDir%/cache
        namespace: DoctrineProxies


doctrine:
    driver: pdo_pgsql
    host: localhost
    user: postgres
    password: heslo
    dbname: uredky
    charset: UTF8
    metadata:
        Bitcont: %appDir%/../libs/Bitcont


services:
	- App\Model\UserManager
	- App\Forms\SignFormFactory
	router: App\RouterFactory::createRouter


extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    documentManager: Bazo\MongoDb\DI\DocumentManagerExtension


console:
    commands:
        - Bitcont\EGov\Nette\HarvestCommand

