
parameters:

#	database:
#		driver: pdo_pgsql
#		host: localhost
#		user: postgres
#		password: heslo
#		dbname: uredky
#		charset: UTF8

	database:
		driver: mysqli
		host: localhost
		user: root
		password: heslo
		dbname: uredky
		charset: UTF8