{block content}

	{include 'components/searchForm.latte', showMunicipalities => TRUE, showItemCount => FALSE}

	<br />
	<br />

	<div class="row text-center">
		<h1>Naposledy přidané záznamy</h1>
	</div>

	{include 'components/bulletinRecordTable.latte', showMunicipalities => TRUE}

{/block}
