{block content}

	<div class="row text-center">
		<h1>Úřední deska {$municipality['name']}</h1>
	</div>

	{include 'components/searchForm.latte', showMunicipalities => FALSE, showItemCount => TRUE}

	<br />
	<br />

	{include 'components/bulletinRecordTable.latte', showMunicipalities => FALSE}

{/block}
