{block content}

	{include 'components/searchForm.latte', showMunicipalities => TRUE, showItemCount => TRUE}

	<br />
	<br />

	{include 'components/bulletinRecordTable.latte', showMunicipalities => TRUE}

{/block}
